<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="note.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="button">
        <div class="button__back">
            <a href="/" ><span class="material-icons">west</span></a>
        </div>
    </div>
    <div class="challenge__title">
        <span class="challenge__title__text"><%= challenge.title %></span>
    </div>
    <div class="challenge__note">
        <p class="challenge__note__text"><%= challenge.note %></p>
    </div>
</div>

</body>
</html>